{% extends "layout.njk" %}

{% block main %}
  <h5 class="covid-banner">
    <span class="text-ribbon text-ribbon-primary covid-ribbon">
      <span>Order now for takeout or delivery!  <em><a href="http://covetogo.com">covetogo.com</a></em></span>
    </span>
  </h5>
  <div class="jumbotron jumbotron-fluid bg-white">
    <div class="container">
      <img alt="cove storefront" class="w-100" src="./assets/img/storefront.png">
    </div>
  </div>
  <div class="block block-bordered-lg menu" id="menu">
    <div class="container text-center app-translate-15" data-transition="entrance">

      <div class="container">
        <a href="http://covetogo.com"><button class="btn btn-primary mb-3">Pickup/Delivery</button></a>
      </div>

      <div class="btn-group btn-group-toggle pb-5" data-toggle="buttons">
        <label class="btn btn-secondary breakfast active">
          <input type="radio" name="options" id="breakfast" autocomplete="off" checked> Breakfast
        </label>
        <label class="btn btn-secondary lunch">
          <input type="radio" name="options" id="lunch" autocomplete="off"> Lunch
        </label>
        <label class="btn btn-secondary dinner">
          <input type="radio" name="options" id="dinner" autocomplete="off"> Dinner
        </label>
        <label class="btn btn-secondary beverages">
          <input type="radio" name="options" id="beverages" autocomplete="off"> Beverages
        </label>
      </div>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="img-fluid" src="/assets/img/breakfast_menu.png"/>
          </div>

          <div class="carousel-item">
            <img class="img-fluid" src="/assets/img/lunch_menu.png"/>
          </div>

          <div class="carousel-item">
            <img class="img-fluid" src="/assets/img/dinner_menu.png"/>
          </div>

          <div class="carousel-item">
            <img class="img-fluid" src="/assets/img/beverages_menu.png"/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="block block-bordered-lg" id="location-hours">
    <div class="container">
      <div class="address-logo mx-auto"><img alt="cove logo" class="img-fluid" src="./assets/img/cove-logo.png"></div>
      <address class="pt-4">
        <h5 class="text-center">
          <strong class="block-title mb-0 text-uppercase">
            434 Castro St
            <br>
            San Francisco, CA 94114
          </strong>
          <br>
          <div class="row">
            <p class="col-12 mx-auto my-1 p-0 py-2 phone">P: (415)626-0462</p>
          </div>
        <em><small>Reservations for tables of 10+ only</small></em>
        </h5>
      </address>
      <h5 class="block-title mb-0 text-uppercase app-myphone-brand text-center pb-4">
        <strong> 06/13 & 06/14 9am - 7pm</strong><br>
        <strong> everyday 9am - 8pm</strong><br>
        <em>(holiday hours may vary)</em>
      </h5>
      <div id="map"></div>
    </div>
  </div> 
  <div class="block app-block-footer">
    <div class="container">
      <div class="row">

        <a class="social-link mx-auto d-sm-none" href="https://www.instagram.com/thecoveoncastro/" target="_blank">
          <span class="icon icon-instagram-with-circle"></span>
        </a>
        <a class="social-link pl-2 mx-auto d-sm-none" href="https://www.facebook.com/thecoveoncastro/" target="_blank">
          <span class="icon icon-facebook-with-circle"></span>
        </a>
        <a class="social-link pl-2 mx-auto d-sm-none" href="https://twitter.com/thecoveoncastro" target="_blank">
          <span class="icon icon-twitter-with-circle"></span>
        </a>

        <div class="w-30 mx-auto d-none d-sm-block">
          <a class="social-link" href="https://www.instagram.com/thecoveoncastro/" target="_blank">
            <span class="icon icon-instagram-with-circle"></span>
          </a>
          <a class="social-link pl-2" href="https://www.facebook.com/thecoveoncastro/" target="_blank">
            <span class="icon icon-facebook-with-circle"></span>
          </a>
          <a class="social-link pl-2" href="https://twitter.com/thecoveoncastro" target="_blank">
            <span class="icon icon-twitter-with-circle"></span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="modals">
    <div class="modal fade" id="aboutUs" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">A Castro Landmark</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>
            For more than 48 years, The Cove on Castro's delicious home-style meals have warmed 
            hearts and stomachs for generations. With handmade soups and breads prepared fresh 
            each day, the Cove is your welcome oasis on San Francisco's Castro Street for 
            great food.
            </p>
            <p>
            Whether it's just a cup of coffee or a three-course dinner with all the fixins, you'll 
            feel relaxed and at home on our comfortable seating, including soft pillows on our 
            banquettes, and ample tables that accommodate a group.
            </p>
            <p>We offer several daily specials and an array of vegetarian and gluten-free choices.</p>
            <p>One very happy customer writes:</p>
            <p>
            “I have eaten at the Cove on Castro for years. The owners and staff treat customers like beloved relatives. They really look after their regulars and guests alike.  The owners have a huge heart I can't count the number of times I have witnessed care packages being sent to regulars who may be under the weather. You can't say that for many dining establishments in the city.  The food is great, not your typical greasy Castro street diner.  My favorite meals are breakfast and lunch.  The homemade soups are wonderful and breakfast is always tasty. The food, service and kindness get my vote.  Thanks to Solange and her wonderful husband for the great food and compassion you have shown in the past to your clients.”
            </p>
            <p>
            With a staff that's always friendly and caring, Castro neighborhood locals have relied on The Cove for years, eating one or more meals here every day. The Cove always has fun new twists on its specials board and discounts for early eaters!
            </p>
            <p>
            The Cove is a great place to come before or after a show at the historic Castro Theatre, right across the street. We have our own productions, too, showing gay, historic and just plain fun videos of customers, fans, visitors and the people who make the Castro the Castro. Bring in your own photos and video and share your story!
            </p>
            <p>
            The owners Maurice and Solange not only support the LGBTQ community, they provide one of the only places you can simply sit with a coffee, beer or wine to watch the Castro neighborhood go by in all its wonderful diversity. 
            </p>
            <p>
            Great food and good people. You can't say you were in the Castro without coming in and saying hi!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
