body {
  margin-top: 6rem;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
}

.address-logo {
  width: 50%;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.social-link {
  font-size: 11rem;
}

a:hover {
  text-decoration: none;
}

.navbar {
  margin-bottom: 0px !important;
}

.inner-nav {
  max-width: 1440px;
  margin: auto;
}

.app-navbar {
  font-size: 1.2rem;
  background-color: white;
}

.navbar-brand {
  width: 39%;
}

.navbar-toggler {
  font-size: 1.6rem;
  position: absolute;
  right: 10px;
}

.navbar-light .navbar-toggler {
  border-color: black;
  color: black;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.gh-btn-wrapper {
  display: none;
  margin-bottom: 1.25rem;
  margin-left: calc(50% - 95px);
  width: 190px;
}

.navbar .gh-btn-wrapper {
  // display: block;
  margin-left: 0;
}

a {
  color: white;
}

a:hover {
  color: black;
}

.app-block-footer {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  bottom: 0;
}

.phone-wrapper {
  margin-left: .625rem;
}

.phone {
  background-color: black;
  color: white;
  margin: auto;
  max-width: 217px;
}

.covid-banner {
  width: 100%;
}

.covid-banner .covid-ribbon {
  display: block;
  font-weight: 300;
  left: 0;
  text-align: center;
}

.covid-ribbon em {
  color: white;
  text-decoration: underline;
}

.jumbotron {
  margin-bottom: 0;
  padding-bottom: 0;
}

.app-myphone-brand,
.menu {
  display: none;
}

@media (min-width: 375px) {
  .app-navbar {
    font-size: 1.45rem;
  }

  .phone-wrapper {
    margin-left: 0;
  }
}

@media (min-width: 575px) {
  body {
    margin-top: 4rem;
  }

  .jumbotron {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .app-navbar {
    font-size: .8rem;
  }

  .navbar-nav {
    position: relative;
    right: -15%;
  }

  .navbar .gh-btn-wrapper {
    display: none;
  }

  .gh-btn-wrapper {
    // display: block;
  }

  .logo {
    width: 30%;
  }

  .address-logo {
    width: 25%;
  }

}

@media (min-width: 1024px) {
  .app-navbar {
    font-size: 1.15rem;
  }

  body {
    margin-top: 5rem;
  }

  .social-link {
    height: 158px;
    line-height: 0;
  }

  .app-block-footer {
    height: 183px; 
  }

  .app-block-footer .container {
    padding-top: 15px;
  }
}

@media (min-width: 1440px) {
  .app-navbar {
    font-size: 1.4rem;
  }

  body {
    margin-top: 8rem;
  }

  .navbar-nav {
    right: -29%;
  }
}

@media (min-width: 2560px) {
  .app-block-footer {
    position: fixed;
    padding: 0;
  }
}
